body{
	background-color: #EE5858;
	font-family: "Trebuchet MS";
	margin: 0px;
	padding: 0px;
}

header{
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;	
	position: fixed;
	top:0;
	height: 150px;
	overflow: hidden;
}

main{
	margin-top: 170px;
}

header img{
	width: 150px;
}

#Descricao{
	background-color: #FFFFFF;
	box-shadow: 1px 1px 5px #BFBFBF;
	margin-right: 20%;
	margin-left: 20%;
	border: 1px solid #BFBFBF;
	border-radius: 40px;
	padding-left: 2%;
	padding-right: 2%;
}

#Titulo{
	font-family: "Impact";
	float: left;
	margin-left: 10px;;
	margin-bottom: -2%;
}

#navbar{
	float: right;
	list-style-type: none;
	*overflow: hidden;
	background-color: #000000;
	height: 32px;
	width:95.5%;
}

a{
	color: #EE5858;
	text-decoration: none;
	font-weight: bold;
}

li{
	float: right;
	
}

li a{
	display: block;
	font-size: 15px;
	color: #EE5858;
	text-align: center;
	padding: 7px 25px;
	text-decoration: none;
}

li a:hover {
  /*background-color: #404040;*/
  background-color:#EE5858;
  color: #000000;
}

#linksSaibaMais{
	background-color: #ffffff;
	float: center;
	list-style-type: none;
	width:90%;
	margin-bottom: 5%;
}

#linksSaibaMais li{
	float: none;
	padding: 5px;
	margin: 5px;
}

#linksSaibaMais li a{
	font-size: 15px;
	border: 1px solid #BFBFBF;
	border-radius: 2px;
}

main{
	background-color: #ffffff;
	margin-left: 10%;
	margin-right: 10%;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 1px;
	padding-bottom: 10px;
}

h5{
	color: #595959;
	text-align: center;
	font-size: 15px;
}

h4{
	color: #BFBFBF;
	text-align: center;
	font-size: 12px;	
}

h2{
	color:#EC4040;
	font-weight: bold;
	font-size: 30px;
	padding-left: 15px;
}

h3{
	width: 160px;
	color:#262626;
	font-size:16px;
	margin-left: 16px;
	padding-bottom: 5px;
	padding-left: 0px;
	border-bottom: 2px solid #262626;
}


p{
	padding-right: 5%;
	padding-left: 2%;
	text-align: justify;
}

.NoticiaTexto{
	display: flex;
}

.NoticiaTexto img{
	box-shadow: 2px 2px 4px #BFBFBF;
	max-height: 200px;
    max-width: 300px;
	margin-top: 10%;
	margin-right: 5%;
}

.NoticiaVideo iframe{
	box-shadow: 2px 2px 4px #BFBFBF;
	margin-top: 10%;
	margin-right: 5%;
}

.NoticiaTexto h4{
	text-align: right;
	padding-right: 5%;
}

.NoticiaVideo{
	display: flex;
}

.NoticiaVideo h4{
	text-align: right;
	padding-right: 5%;
}

.Sobre{
	display: flex;
	justify-content: center;
}

#SobreEsquerda{
	margin-top: 15px;
	display: flex;
	flex-direction: column;
	float: center;
	margin-left: 30px;
}

#Linkedin{
	margin-bottom: 20px;
}

#Linkedin img{
	width: 15px;
}

#foto img{
	width: 150px;
	margin-top: 30px;
	margin-bottom: 15px;
	box-shadow: 2px 2px 10px #BFBFBF;
	border-radius:50%;
}

#SobreDireita{
	margin-left: 20px;
}

footer{
	background-color: #000000;
	margin-left: 10%;
	margin-right: 10%;
	padding: 10px;
}

footer a{
	color: #EE5858;
	text-decoration: none;
}